<!DOCTYPE hml>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>GPS Mapping</title>
		
	    <!-- css -->
	    <link rel="stylesheet" href="/css/bootstrap.min.css">
		<link href="/css/nivo-lightbox.css" rel="stylesheet" />
		<link href="/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
		<link href="/css/animations.css" rel="stylesheet" />
	    <link href="/css/style.css" rel="stylesheet">
		<link href="/css/color/default.css" rel="stylesheet">


	    <!-- =======================================================
	        Theme Name: Bocor
	        Theme URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
	        Author: BootstrapMade
	        Author URL: https://bootstrapmade.com
	    ======================================================= -->
	</head>


	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	
	<section class="hero" id="intro">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
					<div class="animatedParent">
						<h1 class="animated fadeInDown">GPS MAPPING</h1>
						<p class="animated fadeInUp">Plan out a successful path for your college years	</p>
					</div>
			   </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="#placement" class="learn-more-btn btn-scroll">Get Started</a>
                </div>
              </div>
            </div>
    </section>
	
	
    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
          <div class="container">
            <div class="row">
                  <div class="col-md-2">
                    <div class="site-logo">
                            <a href="" class="brand">Guided Pathways</a>
                    </div>
                  </div>
                  

                  <div class="col-md-10">
 
              	  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars"></i>
                        </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav navbar-right">
                      <li ><a href="#intro">Home</a></li>
			   		  <li><a href="#placement">Create Schedule</a></li>		        
			   		  <li><a href="#contact">Contact</a></li>
                    </ul>
                  </div>
                  <!-- /.Navbar-collapse -->
     
              </div>
            </div> 
          </div>	<!-- /.container -->                       
        </nav>
    </div> 


 
	{{{body}}}


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<ul class="footer-menu">
						<li><a  href="#intro">Home</a></li>
						<li><a href="">Press release</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-xs-12 text-right copyright">
					&copy;Copyright - Bocor. All Rights Reserved
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bocor
                        -->
                        <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
				</div>
			</div>	
		</div>
	</footer>

	<!-- Core JavaScript Files -->
    <script src="/js/jquery.min.js"></script>	 
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.easing.min.js"></script>	
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/nivo-lightbox.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/placement.js"></script>
	<script src="/js/css3-animate-it.js"></script>

	</body>
</html>