    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
          <div class="container">
            <div class="row">
                  <div class="col-md-2">
                    <div class="site-logo">
                      <a href="" class="brand">Advisor Helper</a>
                    </div>
                  </div>
                  

                  <div class="col-md-10">
 
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars"></i>
                        </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav navbar-right">
                      <li ><a href="/">Home</a></li>         
                      <li><a href="#contact">Contact</a></li>
                    </ul>
                  </div>
                  <!-- /.Navbar-collapse -->
     
              </div>
            </div> 
          </div>  <!-- /.container -->                       
        </nav>
    </div> 

	<!-- Section: semesters -->
    <section id="semesters" class="home-section color-dark bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
					<div class="section-heading text-center animated bounceInDown">
					<h2 class="h-bold">Semester Builder</h2>
					<div class="divider-header"></div>
					</div>

					 <div id="tables"> 
     
   					</div>
					</div>
				</div>
			</div>

		</div>

	
		</div>

	</section>
	<!-- /Section: semesters -->
	

	<!-- Section: contact -->
    <section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
					<div class="section-heading text-center">
					<h2 class="h-bold animated bounceInDown">Contact an Advisor</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="container">

			<div class="row marginbot-80">
				<div class="col-md-8 col-md-offset-2">
				    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
						<form id="contact-form" action="" method="post" role="form" class="contactForm">
    						<div class="row marginbot-20">
    							<div class="col-md-6 xs-marginbot-20">
    							    <div class="form-group">
        								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validation"></div>
                    </div>
    							</div>
    							<div class="col-md-6">
    							    <div class="form-group">
        								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
    							    </div>
    							</div>
    						</div>
    						<div class="row">
    							<div class="col-md-12">
    								<div class="form-group">
    									<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                      <div class="validation"></div>
    								</div>
    								<div class="form-group">
    									<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validation"></div>
    								</div>						
    								<button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs">
    									Send Message</button>
    							</div>
    						</div>
						</form>
				</div>
			</div>	


		</div>
	</section>
	<!-- /Section: contact -->

  <script src="js/createMap.js"></script>

