  <script type="text/javascript" src="assets/javascript/chemMap2.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>


<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Map</title>
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">


 
  <!-- Bootstrap and Jquery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/createMap.js"></script>

  <script src="http://listjs.com/assets/javascripts/list.min.js"></script>

</head>

<body class="background">

  <!-- All the page content is contained within the transparent box
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" >
    <div class="page-header">
      <!-- Display the map title (program title) -->
      <h1 id="program">Advisor Helper</h1>   
      <br>
    </div>

    <form>
     
    <div id="tables"> 
     
   </div>

  </form>

  

        
<!-- Form to Create a Map Object
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



  <div class="mermaid">
      <div id="graphDiv">
      </div>
  </div>
  </div>

</body>

</html>